<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE configuration>

<configuration>
    <appender name="stdout_json" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <throwableConverter class="net.logstash.logback.stacktrace.ShortenedThrowableConverter">
                <maxDepthPerThrowable>50</maxDepthPerThrowable>
                <exclude>java\.util\.concurrent\..*</exclude>
                <exclude>org\.springframework\.web\..*</exclude>
            </throwableConverter>
        </encoder>
    </appender>

    <springProfile name="nais">
        <root level="INFO">
            <appender-ref ref="stdout_json" />
        </root>
        <!-- Jersey/SCIMple init-feil -->
        <logger name="org.glassfish.jersey" level="WARN" />
        <logger name="org.glassfish.hk2" level="WARN" />
        <logger name="org.apache.directory.scim" level="DEBUG" />
        <logger name="no.nav.oebs.api" level="DEBUG" />
    </springProfile>

    <springProfile name="local">
        <include resource="org/springframework/boot/logging/logback/base.xml" />
        <root level="INFO">
            <appender-ref ref="CONSOLE" />
        </root>
        <logger name="org.glassfish.jersey" level="WARN" />
        <logger name="org.glassfish.hk2" level="WARN" />
        <logger name="org.apache.directory.scim" level="DEBUG" />
        <logger name="no.nav.oebs.api" level="DEBUG" />
    </springProfile>
</configuration>
